@tailwind components;

@layer components {
}

.story__one {
  background-image: url("../../public/images/StoryOne.jpg");

  height: 520px;
  object-fit: contain;
  background-size: cover;
  background-position: center center;
}

.story__two {
  background-image: url("../../public/images/StoryTwo.jpg");

  height: 250px;
  object-fit: contain;
  background-size: cover;
  background-position: center center;
}
.story__three {
  background-image: url("../../public/images/StoryThree.jpg");

  height: 250px;
  object-fit: contain;
  background-size: cover;
  background-position: center center;
}
